html {
    height: 100%;
}

body {
    margin: 0;
}

#chatFullBlock {
    box-sizing: border-box;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    left: 50%;
    position: fixed;
    padding: 0;
    text-align: center;
    top: 50%;
    /*height: 87%;*/
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
    height: calc(100vh - 70px);
}

.chatScreen {
    border-bottom-left-radius: 15px !important;
    overflow-y: hidden;
    max-height: 100%;
}

.chatsList {
    /*background-image: url('bg4.jpg');*/
    background-color: #eaebf0;
    margin: 0;
    padding: 0;
    bottom: 30px;
    border-radius: 0 15px 15px 15px;
    overflow-y: hidden;
    max-height: 100%;
}

.chatScreen > .headerOfBox {
    border-top-left-radius: 15px;

}

.contactChat{
    cursor: pointer;
}

.headerOfBox {
    width: 100%;
    background-color: #bbbbbb;
    margin: 0;
}


.chatsList > .headerOfBox {
    border-top-right-radius: 15px;
}

/*


------------------------------------------
*/

.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    margin: 0;
}

.user-img {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

/*icons list*/
.dp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;

    margin-right: 0;
    margin-left: 75%;
    width: 30px;
    height: 30px;
}

.nav-icons li {
    backgroud-color: pink;
    list-style: none;
    display: flex;
    cursor: pointer;
    color: #51585c;
    margin-left: 22px;
    font-size: 18px;
}

/*Add user icon*/
.gg-user-add {
    display: block;
    transform: scale(1);
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    background: linear-gradient(
            to left,
            currentColor 8px,
            transparent 0) no-repeat 14px 6px/6px 2px,
    linear-gradient(
            to left,
            currentColor 8px,
            transparent 0) no-repeat 16px 4px/2px 6px
}

.gg-user-add::before, .gg-user-add::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid;
}

.gg-user-add::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px;
}

.gg-user-add::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px;
}

.button-background {
    padding: 0;
}

/*Menu icon*/
.gg-menu-round {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 22px;
    height: 22px;
    border-radius: 24px;
    border: 2px solid;
}

.gg-menu-round::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top: 4px;
    left: 4px;
    box-shadow: 0 4px 0, 0 8px 0
}

/*The search bar*/
#search-adon {
    padding: 0;
}

/*The chatPersonRoom*/

.userName {
    /*position: center;*/
    margin-left: 10px;
    font-weight: bold;
    font-size: 80%;
    float: left;
}

.timeAndHour {
    margin-right: 0;
    font-size: 70%;
    float: right;
}

.lastMsg {
    float: left;
    margin-top: 10px;
    margin-left: 30%;
    font-size: 60%;
    font-style: italic;
}

.modal-backdrop {
    display: none;
}

.modalInput{
    padding: 5px;
}
#exampleModalLabel .modal-title-background {
    background-color: white;
}


.btn-no-pointer::after {
    display: none !important;
}

#menu-button {
    padding: 0;
}

#add-button {
    padding: 0;
    margin-left: 0;
}

.btn-no-pointer {
    padding: 0;
    background: none;
    border: none !important;
    font-size: 0.8rem; /* reduce font size */
    line-height: 1; /* remove extra line height */

}

.btn-no-pointer:focus,
.btn-no-pointer:hover {
    background: none;
}

.btn:not(:focus):not(:hover) {
    border: none;
}

#menu-group-btn {
    margin-right: 0;
}

/*Bottom msg bar and button*/
#FullMsgInputBar {
    position: absolute;
    bottom: 0;
    width: 75%;
    float: left;
    padding: 10px;
    background-color: #bbbbbb;
    border-bottom-right-radius: 15px;
    z-index: 2;
}

.chatText{
    margin-bottom: 3px; /* Add some bottom margin to create space between messages */
    overflow-wrap: break-word;
}

.bi-emoji-smile {
    margin-top: 1px;
    float: left;
    cursor: pointer;
}

#msgInputBar {
    width: 85%;
    margin-right: 0;
    margin-left: 5px;
    float: left;
}

#sendBtn {
    margin-left: 0;
    float: right;
    width: 10%;
}

.btn-success{
    --bs-btn-hover-bg: #207068;
    background-color: #207068;

}


/*Chat Box and messages*/

.chatImg {
    border-radius: 80%;
    width: 40px;
    height: 35px;
    margin: 2px;
    cursor: pointer;
}

.timeHourContact {
    float: left;
}

#chatNameLogo {
    font-family: Georgia, serif;
    text-align: center;
    margin-left: 40%;
}

.DivWithScroll {
    height: 80%;
    /*overflow: scroll;*/
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

.text-white {
    /*width: 70%;*/
    max-inline-size: 500px;
    overflow-wrap: break-word;
}

.ContentMsg {
    text-align: left;
    max-inline-size: 600px;
    overflow-wrap: break-word;
    padding: 0;
    margin: 0 !important;
}

#LeftSideChatList {
    position: fixed;
    overflow-y: auto;
    max-height: 100%;
}

#listScroll {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80%;
}

.chatWrap{
    /*padding: 7px;*/
    padding-top: 15px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pe-3{
    padding: 0;
}

.pt-3{
    padding: 0;
}

.small{
    margin-bottom: 0 !important;
}