#chatName {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5%;
    color: black;
    font-size: 70px;
}

.profilePictureLabel {
    float: left;
}

#subButton {
    float: none;
    margin-top: 15px;
}

.bottomDisclaimer {
    margin-top: 25%;
    margin-bottom: 2%;
}

.bottomCopyRight {
    margin-top: 10%;
    margin-bottom: 2%;
}

.PasswordRequirement {
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: x-small;
    text-align: left;
}

.mb-3 {
    height: 50px;
}

/* CSS for valid password requirement */
.valid {
    color: green !important; /* Green text color */
    background-color: transparent; /* Transparent background */
}

/* CSS for invalid password requirement */
.invalid-requirement {
    color: red !important; /* Red text color */
    background-color: transparent; /* Transparent background */
}

